.popup__button {
    margin-top: 48px;
    align-items: center;
    width: 100%;
    background: #000000;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    min-height: 50px;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
}

.popup__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 820px) {
    .popup__button {
        margin-top: 45px;
        font-size: 14px;
        line-height: 17px;
    }
}