.popup__container {
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 430px;
    position: relative;
    /* margin: 0 auto;
    margin-top: 195px; */
    box-sizing: border-box;
    padding-top: 34px;
    padding-left: 36px;
    padding-bottom: 37px;
    padding-right: 36px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 820px) {
    .popup__container {
        width: 282px;
        padding: 19px 19px;
    }
}