.popup__image{
    max-width: 75vw;
    max-height: 75vh;
    background-color: #fff;
    position: relative;
    transition-property: opacity, height;
transition-duration: 1s, 0s;
transition-delay: 0s, 1s;
}