.element__button-clicklike.css{
    background-image: url('../../../images/button4.svg');
    background-color:  #fff;
    border: none;
    height: 20.76px;
    width: 18.13px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: opacity 0.5s linear;
  }   
