.element__button-like {
    background-image: url('../../../images/button3.svg');
    background-color: #fff;
    border: none;
    height: 19px;
    width: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: opacity 0.5s linear;
}

.element__button-like:focus {
    outline: none;
}

.element__button-like:hover {
    cursor: pointer;
    opacity: 0.5;
}